.section-shadowoftombraider {
  height: 105vh;
  background: linear-gradient(
      289.84deg,
      #af6c06 -3.25%,
      rgba(255, 255, 255, 0) 36.74%
    ),
    linear-gradient(0deg, #e7d8c3, #e7d8c3);
  padding-top: 6rem;
}
