$orange-light: #F0C06E;
$orange-dark: #CC9A43;
$black: #252525;
$black-dark: #1a1a1a;
$black-2: #222;
$gray: #D4D4D4;
$white: #F4F4F4;
$white-orange: #E6E3DF;

$small: 1.4rem;
$xsmall: 1.8rem;
$medium: 2.4rem;
$xmedium: 3.2rem;
$big: 4.8rem;